body {
  background-color: #b6c6df;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  cursor: pointer;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.X {
  color: red;
}

.O {
  color: blue;
}

.square:hover {
  background: rgb(227, 239, 246);
}

.reset {
  cursor: pointer;
  padding: 16px;
  margin-top: 20px;
  width: 100%;
}